@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;0,900;1,600&display=swap');

:root{
    --color-primary: #FF902A;
    --color-secondary: #2F2105;
    --color-neutral: #F9D9AA;
    --color-neutral2: #F6EBDA;
    --color-light: #7E7D7A;
}
.active{
    color: var(--color-primary)
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Poppins', sans-serif;;
}
a{
    text-decoration: none;
    color: black;
}

.header{
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: space-evenly;
    grid-template-columns: 12rem 40rem 25rem;
    padding: 1rem 0;
    position: absolute;
    z-index: 1;
}
.logo{
    display: flex;
    align-items: center;
}

nav{
    display: flex;
    align-items: center;
}
.logo img{
    width: 9rem;
    height: 1.7rem;
}

.nav ul li{
    display: inline;
    margin: 0.7rem;
    font-size: 16px;
}

.right-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search input{
    width: 13rem;
    height: 35px;
    border-radius: 17px;
    border: none;
    box-shadow: 7px 2px 24px 0px rgba(0,0,0,0.13);
    -webkit-box-shadow: 7px 2px 24px 0px rgba(0,0,0,0.13);
    -moz-box-shadow: 7px 2px 24px 0px rgba(0,0,0,0.13);
}


.landing-page{
    width: 100vw;
    height: 100vh;
    background: var(--color-neutral2);
    display: flex;
    position: relative;
    overflow: hidden;
}
.img1{
    width: 30rem;
    height: 22rem;
    position: absolute;
    top: 68%;
}
.img2{
    width: 30rem;
    height: 22rem;
    position: absolute;
    left: 65%;
    top: -35px;
    
}

.left, .right{
    width: 50%;
    height: 100vh;
}

.left-content{
    position: absolute;
    top: 22%;
    left: 7%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.left .title{
    font-size: 41.8px;
    font-weight: 500;
}
.title, .p-text, .button-group{
    width: 100%;
}
.title h1{
    width: 30rem;
    color: var(--color-secondary);
}

.p-text p{
    width: 22rem;
    font-size: 16px;
    color: var(--color-light);
}

.button-group{
    margin-top: 10px;
}

.button-group .order{
    box-sizing: border-box;
    width: 10.6rem;
    height: 2.8rem;
    border: none;
    border-radius: 33px;
    padding: 10px;
    background: var(--color-secondary);
    color: white;
}

.button-group .menu{
    box-sizing: border-box;
    width: 10.6rem;
    height: 2.8rem;
    border: none;
    background: none;
    color: var(--color-primary);
}


.right{
    display: flex;

}
.right .img-circle{
    width: 24rem;
    height: 24rem;
    border-radius: 50%;
    background: var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 130px;
    right: -132px;
    z-index: 1;
}

.img-circle .watermark{
    width: 23rem;
    opacity: 0.8;
}

.img-circle .img{
    position: absolute;
    top: -12px;
}